#content {
    text-align: center;
}

#footer {
    margin-top: 1%;
    text-align: center;
}

#myChart {
    margin: auto auto;
}

h1 {
    padding: 10px 10px;
}

p {
    display: inline-block;
    margin: 6px;
}

form {
    display: inline-block;
    margin: 10px 5px;
}

.footer-nav {
    margin: 2% auto;
}