{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Statistics</h1>
    <br>
    <p>Request GET count: {{ request_get }}</p>
    <p>Request POST count: {{ request_post }}</p>
    <p>Request DELETE count: {{ request_delete }}</p>
    <p>Request PUT count: {{ request_put }}</p>
    <div class="footer-nav">
        <a href="{{ url_for('index') }}" class="btn btn-info">Back</a>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
{% block endbody %}
    {{ super() }}
{% endblock %}